*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
   /* background:#F0E5D3;*/
    background: #ECEBE7;
    color: #fff;
    /*margin: 0;
    padding: 0;*/
}
#header{
    width: 100%;
    height:100vh;
   /* background-image: url(images/background_image.png);*/
    background-size:cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    /*background-color: #FFF;*/
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /*justify-content: center;*/
    flex-wrap: wrap;
    /*position: fixed;
    /*background-color: #000000;*/
    background-color: #ECEBE7;
   /* width: 100%;
    height: 60px;
    z-index: 2;
    top: 0;*/
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
   /* color: #fff;*/
    /*color: #D65D56;*/
    color: #433723;
    text-decoration: none;
    font-size: 25px;
    font-family: "Hedvig Letters Serif", serif;
    position: relative;
}
/*NAV BAR UNDERLINE*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #E8746F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    position: absolute;
    margin-top: 20%;
    font-size: 30px;
    z-index: 1;
    /*text-align: center;*/
}
.header-text p span{
   /* color:#033500;*/
    color: #E8746F;
    font-style: italic;
}
.header-text h1{
    font-size: 100px;
    margin-top: -10px;
    font-weight: 600;
}

/* About Section*/
#about{
    padding: 80px 0;
    /*color: #ababab;*/
    color: #433723
    font-weight: 600;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 0px;
    border-color: coral;
}

.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-weight: 400;
    color: #433723;
}
.about-col-2 .point{
    font-weight: 400;
    color: #433723;
    font-style: italic;
}
.about-col-2 .help{
    font-weight: 400;
    color: #433723;
    font-style: italic;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #433723;
    font-family: "Hedvig Letters Serif", serif;
}

.sub-title.mywork{
    font-size: 60px;
    font-weight: 600;
    color: #433723;
    font-family: "Hedvig Letters Serif", serif;
    text-align: center;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #E8746F;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #433723;
}

.tab-contents ul li span{
    color: #D2514A;
    font-size: 16px;
    font-weight: 600;
}


.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents .org{
    color: #433723;
    font-size: 16px;
    font-weight: 500;
    font-style:italic
}
.tab-contents .degree{
    color: #433723;
    font-size: 16px;
    font-weight: 500;
}
/* PORTFOLIO SECTION*/

#mywork{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 1s;
}
/*CREATING CORAL OVERLAYER*/
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #D2514A);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
/*TEXT FOR THE WORK PREVIEWS*/
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer p{
    font-weight: 300;
    font-size: 14px;
}
/*LINK ICON BUTTON FOR THE WORK PREVIEWS*/
.layer a{
    margin-top: 20px;
    color:#D2514A;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

/*GREEN LAYER ON TOP DURING HOVER*/
.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*SEE MORE BUTTON*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
   /*border: 1px solid #E8746F;*/
    background: #D2514A;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #E8746F;
}

/*CONTACT FORM*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top:30px;
    color: #433723;
}

.contact-left p i{
    color:#D2514A;
    margin-right: 10px;
    font-size: 25px;
}

/*HOVERING LINKEDIN ICON*/
.social-icons{
    margin-top: 10px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 5px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
   /* color: #fff;*/
    /*transform: translateY(-5px);*/
    transform: scale(1.1);
}

/*DOWNLOAD CV BUTTON (and submit button)*/
.btn.btn2{
    display: inline-block;
    background:#D2514A;
    transition: transform 0.5s;
}
.btn.btn2:hover{
    transform: translateY(-5px);
}
/*STYLING CONTACT FORM */
.contact-right form{
    width: 100%;
    color: #433723;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#D3D0C9;
    padding: 15px ;
    margin: 15px 0;
    color: #433723;
    font-size: 18px;
    font-family: "Hedvig Letters Serif", serif;
    border-radius: 2px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}